.post-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 404px;
    overflow: hidden;
}
.post-img h1 {
    font-size: 55px;
    /* text-align: center; */
}

.post-img::after{
    content: "";
    background-image: url("4.jpg") ;
    z-index: -1;
    background-position: 156cm;
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.8;
}

.blog-post-content h1{
    text-align: center;
}
.blog-post-content p {
    font-size: 18px;
}

.row{
    display: flex;
}
.more-post{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blogpost-meta{
    display: flex;
    justify-content: space-between;
}

.blogpost-meta .author-info div{
    padding: 4px 0px;
    font-family: var(--font2);

}
.blogpost-meta .author-info{
    margin: 12px 0;
}
.blogpost-meta .social {
    cursor: pointer;
    font-size: 2.8rem;
    align-self: center;
    padding-right: 55px;
    
}
