.contact-content{
    display: flex;
    
    height: 85vh;
    /* background-color: brown; */
    margin-top: -12px;
    padding: 45px;
    /* box-sizing: border-box; */
    position: relative;
    overflow: hidden;
}
.contact-content::after{
    content: "";
    background-image: url("3.jpg") ;
    background-position: 128cm;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
}


input:focus, textarea:focus, select:focus{
    background-color: rgba(31, 31, 31, 0.418);
    color: var(--main-bg-color);
    transition: 0.5s ease;
    outline: none ;
    font-size: 20px;
}
